<strong>Hello, {{ username }}</strong>
<p>Welcome to our application, please verify your email entering the following url:</p>
<p>
  <strong>{{ verificationUrl }}</strong> <br />
  <br />
  <small>
    If you don't verify you won't be able to acess your account.
  </small>
</p>
